{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_revitimsession/create_practice_step4

    Template for the create practice exam step 4 page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id - The course module ID
    * practice_exam_description - Description for the exam
    * practice_gleim_features_title - Title for Gleim features section
    * practice_feature_discard - Feature discard text
    * practice_feature_timeout - Feature timeout text
    * practice_feature_review - Feature review text
    * previous_url - URL for previous button
    * previous_text - Text for previous button
    * cancel_url - URL for cancel button
    * cancel_text - Text for cancel button
    * finish_text - Text for finish button
}}

<div style="text-align: center; margin-bottom: 30px;">
    {{#type}}
        {{#study}}
            <h1>Create Study Session</h1>
        {{/study}}
        {{^study}}
            <h1>Create Practice Exam</h1>
        {{/study}}
    {{/type}}
    {{^type}}
        <h1>Create Practice Exam</h1>
    {{/type}}
</div>

<div style="text-align: left; margin-bottom: 20px;">
    <h3>Exam Information</h3>
</div>

<div class="practice-exam-container">
    <div class="exam-info-container">
        <!-- Exam description -->
        <div class="exam-description">
            <p>{{practice_exam_description}}</p>
        </div>
        
        <!-- Gleim features section -->
        <div class="gleim-features">
            <h4>{{practice_gleim_features_title}}</h4>
            <ul class="feature-list">
                <li>{{practice_feature_discard}}</li>
                <li>{{practice_feature_timeout}}</li>
                <li>{{practice_feature_review}}</li>
            </ul>
        </div>
    </div>
    
    <form method="post" action="">
        <input type="hidden" name="id" value="{{id}}">
        {{#type}}
            <input type="hidden" name="type" value="{{type}}">
        {{/type}}
        
        <!-- Navigation buttons -->
        <div class="navigation-buttons mt-4">
            <div class="d-flex justify-content-start gap-2">
                <a href="{{previous_url}}" class="btn btn-previous-custom">{{previous_text}}</a>
                <a href="{{cancel_url}}" class="btn btn-cancel-custom">{{cancel_text}}</a>
                <button type="submit" name="submit" value="1" class="btn btn-primary">{{finish_text}}</button>
            </div>
        </div>
    </form>
</div>
